[submodule ".config/zsh"]
	path = .config/zsh
	url = git@github.com:aretrosen/zsh.git
	branch = debian
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:aretrosen/nvim.git
[submodule ".config/emacs"]
	path = .config/emacs
	url = git@github.com:aretrosen/emacs.git
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
